<main role="main">

  <div class="jumbotron main-photo">
    <div class="container text-white dark-text-shadow">
      <h1 class="display-3">SPAP Alondra</h1>
      <p>Esta <strong>ASOCIACIÓN</strong> la formamos un pequeño grupo de personas que de manera altruista y con mucha ilusión trabajamos para intentar que el futuro los animales de nuestro entorno sea mejor. Tú también puedes aportar mucho más de lo que te imaginas colaborando de cualquier forma que te venga bien.</p>
      <p><a class="btn btn-secondary btn-lg btn-facebook" href="https://www.facebook.com/SPAP-Alondra-de-Dupont-185364651501158/" role="button">Estamos en facebook &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Esterilización</h2>
        <p>La <strong>esterilación</strong> es la única solución para evitar que miles de animales sean eliminados. Informate sobre nuestra campaña de esterilización a bajo coste para aquellos propietarios que deseen esterilizar a su perro o gato.
        </p>
        <p><a class="btn btn-secondary" routerLink="/sterilization" role="button">Más detalles &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Casas de acogida</h2>
        <p>Ser <strong>casa de acogida</strong> y ayudar a encontrar hogar a <strong>animales abandonados</strong> es una labor muy reconfortante. Contacta con nosotros para más información. </p>
        <p><a href="#" class="btn btn-secondary" role="button">Más detalles &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>¡Necesitamos ayuda!</h2>
        <p>Por favor, hazte socio, haznos un donativo o compranos una camiseta. Cualquier ayuda es un poco de esperanza para nuestros compañeros que confian en nosotros.</p>
        <p><a href="#" class="btn btn-secondary" role="button">Más detalles &raquo;</a></p>
      </div>
    </div>
  </div>

</main>
