<main role="main">

  <div class="jumbotron main-photo">
    <div class="container">
      <h1 class="display-3">SPAP Alondra</h1>
      <p>Esta ASOCIACIÓN la formamos un pequeño grupo de personas que de manera altruista y con mucha ilusión trabajamos para intentar que el futuro los animales de nuestro entorno sea mejor. Tú también puedes aportar mucho más de lo que te imaginas colaborando de cualquier forma que te venga bien.</p>
      <p><a class="btn btn-secondary btn-lg" href="#" role="button">Visitanos en facebook &raquo;</a></p>
    </div>
  </div>

</main>
