<div class="container mtop-20 text-justify">
  <div class="row">
    <div class="col-md-12">
      <h3 class="mt-3">Esterilización</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card text-white bg-secondary my-3 w-100" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Campaña de esterilización</h5>
          <p class="card-text">Alondra de Dupont mantiene los 12 meses del año una campaña de esterilización dirigida a aquellos propietarios que deseen esterilizar a sus animales para evitar el nacimiento de cachorros, para evitar problemas de saludo o para ambas cosas.</p>
          <a routerLink="/contact" class="btn btn-light" role="button">Contacta con nosotros &raquo;</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5 class="my-3">La importancia de la esterilización</h5>
      <div class="row">
        <div class="col-lg-6">
          <p>A fecha de hoy todos conocemos la Campaña del Ministerio de Medio Ambiente “EL TOTAL ES LO QUE CUENTA”, recordándonos que no se trata de “unos litros”, “un botellín”, “una lata”, “unos minutos”…, sino que cada día, cientos de miles de pequeñas acciones favorecen la desertización y el cambio climático, afectando incluso a nuestra salud. Como reza el anuncio: “En todos está invertir el proceso”.</p>
          <p>En el año 2006, más de 200.000 animales fueron abandonados. En Almería capital (sólo en la capital) se estima que en el pasado año se abandonaron unos 6.000 animales. La mayoría de estos terminaron siendo sacrificados en perreras municipales, atropellados y sólo los más afortunados fueron a parar a albergues y refugios, donde esperan un hogar que, seguramente, nunca llegará.</p>
          <p>La sociedad almeriense demanda que exista un lugar donde dar cobijo, buenos cuidados, calidad de vida y buen trato a los animales que ella misma ha abandonado, sin darse cuenta de que es materialmente imposible que Asociaciones o Administraciones puedan crear un lugar que permita albergar a 6.000 animales y que éstos vivan dignamente durante 10-12 años. Olvidan, además, que a los 6.000 animales que se abandonaron en 2006 habría que sumar todos los abandonados en 2.007, es decir, en 2007 la sociedad almeriense demandaría un lugar donde pudieran vivir dignamente al menos unos 10.000 animales, y así sucesivamente.</p>
          <p>Obviamente, la solución real es que la adquisición de un animal se lleve a cabo de forma responsable y meditada (de lo contrario, los animales son luego abandonados con cualquier excusa: trabajo, falta de tiempo, falta de espacio, nacimiento de niños, divorcio, nueva pareja…) y que los propietarios controlen la natalidad de sus animales en lugar de ir regalando y vendiendo cachorros como si de churros se tratara.</p>
          <p>Gran parte de estos animales abandonados proceden de montas fortuitas y camadas indeseadas; esto es, de la dejadez de los propietarios por controlar la natalidad de sus animales. Posiblemente mientras lees estas  líneas no seas capaz de valorar el número de animales que mueren cada año porque nunca deberían haber nacido.
          </p>
        </div>
        <div class="col-lg-6">
          <p>Efectivamente, el hecho aislado de que una perra o gata tenga una camada no tiene mayor relevancia, no obstante, cuando este pensamiento es generalizado en nuestra sociedad, tenemos que remitirnos al mensaje que citábamos al inicio y recordar que “el total es lo que cuenta”, es decir, no son los cachorros de nuestra perra/gata, son los de la perra/gata de nuestros vecinos, familiares, amigos, compañeros de trabajo… y TODAS sus generaciones posteriores. Para muestra representativa algunos datos extraídos de la Fundación Altarriba:</p>
          <p>“Basado en que una hembra tenga sólo dos camadas en su vida: (gato 6 + 6, perro 4 + 4), y contando con que la mitad de su crías sean hembras que crían en la misma proporción (dos veces en su vida), y supervivencia 100% de las hembras”</p>
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col"></th>
                <th scope="col">1er año</th>
                <th scope="col">2º año</th>
                <th scope="col">3er año</th>
                <th scope="col">4º año</th>
                <th scope="col">5º año</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1 perra</th>
                <td>8</td>
                <td>40</td>
                <td>200</td>
                <td>1.000</td>
                <td>5.000</td>
              </tr>
              <tr>
                <th scope="row">1 gata</th>
                <td>12</td>
                <td>84</td>
                <td>588</td>
                <td>4.116</td>
                <td>28.812</td>
              </tr>
              <tr>
                <th scope="row">Total</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>33.812</td>
              </tr>
            </tbody>
          </table>

          <p>Es decir, al cabo de 5 años, un gato y un perro han dado lugar a 33.812 animales, de los que con toda seguridad un 90%, es decir, 30.430, habrán muerto en perreras, arcenes, peleas de perros, envenenados, mutilados, etc. Y todo ello, será responsabilidad del propietario del animal inicial.</p>
          <p>La esterilización es la única solución viable para el grave problema de la sobrepoblación animal y, por tanto, la única vía para evitar que cada año miles de animales sean masacrados simplemente porque sobran.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h5 class="my-3">¿En qué consiste la esterilización?</h5>
      <p>Es un sencillo procedimiento quirúrgico por el que se extirpan los órganos sexuales, desapareciendo así en el animal los procesos hormonales sin que suponga alteración alguna del carácter y/o personalidad del mismo. Es una cirugía sencilla, de recuperación muy rápida (sobre todo en el caso de los machos) y que, además, tiene una serie de ventajas tanto para el animal como para el propietario.</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h5 class="my-3">Ventajas que aporta <small class="text-muted">(fuente: www.anaaweb.org)</small></h5>

      <div class="row">
        <div class="col-md-6">
          <p>En hembras:</p>
          <ul>
            <li>Eliminación del celo. Dejan de manchar en casa y de atraer a los machos, desapareciendo además la ansiedad del animal y, en el caso de las gatas, los maullidos y quejidos que provoca este periodo.</li>
            <li>Se elimina por completo la posibilidad de apareamientos con el resultado de cachorros indeseados.</li>
            <li>Elimina los embarazos psicológicos que presentan en algunas hembras después del celo.</li>
            <li>Evita las infecciones uterinas (piómetras) y minimiza la incidencia de tumores de mama, quistes, miomas, …</li>
          </ul>
        </div>
        <div class="col-md-6">
          <p>En machos:</p>
          <ul>
            <li>Elimina el deseo sexual del animal, por lo que dejará de montar a otros animales o personas y no se mostrará ansioso y frustrado cuando detecten una hembra en celo, evitando también en muchos casos las ganas de escapar y deambular fuera de casa, mejorando en definitiva la calidad de vida de nuestro animal.</li>
            <li>Se reduce o elimina la agresividad hacia otros machos y, especialmente en el caso de los gatos, el marcar con orina la casa.</li>
            <li>Influye positivamente en las afecciones de próstata y otras enfermedades como tumores testiculares, hernias perianales,tumores de gládulas hepatoides, tumores de glándulas perianales, tumores y quistes prostáticos.</li>
          </ul>
        </div>
      </div>

      <p>Tras la operación los animales dejan de ser fértiles, por lo que se evitará el nacimiento de animales indeseados que probablemente sean abandonados.</p>
      <p>Según publica el «American Journal of Veterinarian Research» (Revista Americana de Investigación Veterinaria), la longevidad de un animal esterilizado aumenta en machos un 24% (perros) y un 36% (gatos). En las hembras aumenta un 20% (perros) y un 40% (gatos).</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h5 class="my-3">Falsos mitos sobre la esterilización <small class="text-muted">(fuente: www.altarriba.org)</small></h5>
      <div class="row">
        <div class="col-lg-6">
          <ul>
            <li>El animal tiene derecho a disfrutar de su vida sexual: Los animales no viven la sexualidad como los humanos, porque no han dado el paso emotivo que ello implica. Para un animal, el sexo es únicamente el proceso físico de reproducción. Si comer y beber es la garantía de la supervivencia individual, el sexo lo es para la permanencia de su especie. En el hombre el sexo es una finalidad en sí mismo, en el resto de los animales la finalidad única sigue siendo concebir una cría. <br>
            La prueba más clara es que la hembra sólo acepta la monta cuando está en celo, es decir, cuando su cuerpo presenta una exigencia hormonal. Fuera de esa situación, se niega al sexo e incluso puede rechazar al macho de forma muy agresiva, lo que evidencia que para ella no existe una situación de placer relacionada con el sexo, sino una situación de necesidad hormonal. De igual forma, el macho sólo busca la monta cuando recibe información química de una hembra en celo.
            </li>
            <li>Me da mucha pena operarlo: Curiosamente cuando el veterinario sugiere al propietario la esterilización, éste argumenta “sentir pena” para evitar hacerlo, no obstante, la gran mayoría de esos propietarios a los que “tanta pena” les produce esta intervención no tienen reparo alguno en entregar a sus animales a desconocidos durante unos días para que se produzca la monta, hacer pasar a las hembras por un parto, separarlas de sus cachorros para venderlos o regalarlos, etc.. así como a someterles a otras intervenciones quirúrgicas innecesarias, nada beneficiosas y muy dolorosas como la amputación de las orejas y la cola (por estética) o la desungulación de las uñas de los gatos (para que no nos estropeen el sofá).</li>
            <li>El animal engordará: Un animal alimentado inadecuadamente o que no hace ejercicio regular engordará, operado o no, por tanto en ambos casos debemos tener la misma precaución en controlar su comida y en facilitar que haga el ejercicio físico adecuado para estar sano. Si el animal, esterilizado o no, tiene tendencia al sobrepeso debemos seguir al pie de la letra las instrucciones que dé el veterinario para evitarlo.</li>
            <li>Le cambiará el carácter: Después de la esterilización, el carácter y personalidad de nuestro animal se mantendrá intacta, la única diferencia es que conseguiremos evitar o reducir algunos problemas de comportamiento asociados al instinto sexual como el marcaje, la territorialidad y agresividad entre machos.</li>
            <li>Es bueno que la hembra críe, al menos, una vez: NO. Esta afirmación es una falsedad. Hablamos de procesos hormonales y químicos, por lo que si están esterilizadas no tendrán ninguna necesidad de reproducirse, y por lo tanto tampoco tendrán embarazos psicológicos ni stress o ansiedad estacional. De hecho, son las perras que han dado a luz en repetidas ocasiones (hembras de cría, por ejemplo), las que más problemas de tumores de mama presentan llegada la vejez.</li>
            <li>No tengo derecho a privarles de lo que la  naturaleza los ha dotado: Ante el derecho natural de una hembra a reproducirse está el derecho de la camada entera a no ser arrojada con tres días de vida a un río dentro de una bolsa,  o a no ser triturada en un camión de la basura o a no ser depositada en una perrera municipal para que allí hagan el trabajo sucio (es muy cómodo derivar responsabilidades de ese tipo). Para plantearnos si tenemos o no tal derecho, primero debemos cumplir las obligaciones. <br>
            Por otra parte, el ser humano ha sido dotado igualmente por la Naturaleza para reproducirse, y en cambio ejerce sobre sí mismo el derecho a no hacerlo mediante el uso de todo tipo de métodos anticonceptivos. No exijas para otros lo que has rechazado para ti mismo, al menos no con ese argumento. Hoy en día, si se cuenta con la posibilidad de evitarlo, ninguna mujer tiene tantos hijos como años fértiles (uno por año) y ningún hombre se lo pide.</li>
            <li>Es que es de pura raza y los cachorros se dan/venden muy bien: Si tu perro/gato es de pura raza entonces es uno de cada cuatro (es decir, un 25%) del número total de animales que van a parar a una carretera, perrera o refugio. <br>
            Pero hay una cosa más, infinitamente más cruel, que afecta a los pura raza: que el dueño se los quita de encima cuando ya están viejos, enferman o ambas cosas juntas. ¿Sabes cuántos "pura raza" acaban su vida en un infierno?, ¿Sabes cuantos pura raza viven sus últimos días en perreras y albergues? ¿Sabes cuántos campeones e hijos de campeones mueren solos en una fría jaula?</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul>
            <li>Los perros esterilizados guardan (vigilancia) menos: La personalidad del animal no depende tanto de las hormonas sexuales como de su herencia genética y su entorno, por tanto su tendencia a proteger a los suyos (que eres tú) no se ve afectada. Y si lo que quieres no es un amigo sino vigilancia, opta mejor por una alarma.</li>
            <li>Es que me hace mucha ilusión vivir o que mis hijos vivan el milagro de la vida: Sin duda, asistir al nacimiento de la vida es desde luego un hecho maravilloso que, en el caso de los niños además les enseña a respetar y a cuidar a los animales. Un animal recién nacido es frágil y hermoso, y despierta la compasión (aunque no siempre) pero no hay que olvidar que somos los responsables directos de lo que el futuro depare a esas vidas y a todas las vidas de las generaciones siguientes ¿puedes asumir esa responsabilidad?, ¿puedes garantizar una vida digna para todos esos cachorros y TODAS las generaciones que los sucederán? <br>
            Si quieres vivir en casa esta experiencia, y que tus hijos aprendan a respetar la vida ajena, no necesitas que tu perra o tu gata se quede preñada. Llama al refugio más cercano, y seguramente podrás tener en acogida alguna hembra a punto de parir que necesita cuidados. Llévatela a casa, atiéndela, y disfruta durante dos o tres meses cuidando de estos animalillos hasta que puedan darse en adopción. Será una experiencia doblemente hermosa: la vida que surge ante tus ojos, y el hecho de tu generosidad para con los maltratados. En el refugio no sabrán cómo agradecértelo.</li>
            <li>Quiero tener un hijo de mi animal: Ningún hijo de tu animal va a ser su fotocopia. Olvídate. Es lícito que quieras prolongar en lo posible, para siempre si puedes, la existencia de ese animal al que adoras. Para ti no habrá otro igual que él, es cierto. Por eso, no busques expresamente reemplazarlo por otro de su sangre. Deja que sea especial y único, y cuando se haya ido, date el tiempo que necesites para compartir tu vida con otro, que también será especial, y no vendrá a sustituir al primero, sino a seguir compartiendo la felicidad que por un momento ha sido interrumpida por el dolor. El peor homenaje de agradecimiento que puedes hacer a tu animal es arriesgarte a provocar el dolor extremo en sus descendientes.</li>
            <li>Es que yo no daré los cachorros a cualquiera, los “colocaré” bien: Nadie duda de tu buena intención y seguramente los darás a personas cercanas y de tu confianza (bueno, en realidad muchas veces los “obligarás” a coger un cachorro que NO QUIEREN con presiones del tipo “es que tendré que dejarlo en la perrera”, “es que no sé qué hacer con ellos”) pero incluso en el hipotético caso de que toda tu camada vaya a buenas manos, ¿no tienen estas mismas personas el mismo derecho  a disfrutar de la misma ilusión y seguir criando? Así, esta primera pequeña ilusión tuya generará en 5 años el nacimiento de unos 28.000 gatos y unos 5.000 perros, de los cuales, casi la totalidad engrosará las escalofriantes cifras anuales de abandono y/o eutanasia. <br>
            ¿Realmente deseas garantizar que tus cachorros y sus descendientes no sean abandonados ni sacrificados, ¿Te preocupa realmente el futuro que puedan tener los hijos de tu gran amigo y que forma parte de vuestra familia? Entonces hazte realmente responsable evitando que esto ocurra.
            </li>
            <li>Es una intervención cara que aconsejan los veterinarios para lucrarse: Los veterinarios son profesionales cualificados que han elegido la salud animal como camino laboral y si lo sugieren es porque su obligación es velar por el animal, por éste y por los futuros, o sea, que cuando te recomiendan que lo esterilices lo hacen con el convencimiento de que será lo más beneficioso para su salud. <br>
            Respecto al coste, depende de muchos factores: sexo, tamaño, edad, etc., y las tarifas en general vienen recomendadas por cada Colegio de Veterinarios. Y sea cual sea el precio, te resultará una ganga si lo comparas con el total derivado de sumar el gasto de atender a la hembra durante los dos meses de embarazo, más los dos meses de atención a los cachorros, que son un buen pico en medicación, alimentos especiales, posibles complicaciones, etc. Así que, económicamente, lo menos costoso a la larga es la esterilización. Sin contar lo que te ahorrarás por futuros problemas de salud de tu animal que ya no va a sufrir.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <p class="text-muted my-3">Información extraída de www.altarriba.org y www.anaaweb.org</p>
    </div>
  </div>
</div>
