<div class="container mtop-20 text-justify">
  <div class="row">
    <div class="col-md-12">
      <h3 class="mt-3">{{ "esterilizacion.titulo" | translate }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card text-white bg-secondary my-3 w-100" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ "esterilizacion.campaña_esterilizacion" | translate }}</h5>
          <p class="card-text">{{ "esterilizacion.campaña_esterilizacion_texto" | translate }}</p>
          <a routerLink="/contact" class="btn btn-light" role="button">{{ "esterilizacion.contacta_nosotros" | translate }} &raquo;</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5 class="my-3">{{ "esterilizacion.importancia_esterilizacion" | translate }}</h5>
      <div class="row">
        <div class="col-lg-6">
          <p>{{ "esterilizacion.importancia_esterilizacion_texto1" | translate }}</p>
          <p>{{ "esterilizacion.importancia_esterilizacion_texto2" | translate }}</p>
          <p>{{ "esterilizacion.importancia_esterilizacion_texto3" | translate }}</p>
          <p>{{ "esterilizacion.importancia_esterilizacion_texto4" | translate }}</p>
          <p>{{ "esterilizacion.importancia_esterilizacion_texto5" | translate }}</p>
        </div>
        <div class="col-lg-6">
          <p>{{ "esterilizacion.importancia_esterilizacion_texto6" | translate }}</p>
          <p>{{ "esterilizacion.importancia_esterilizacion_texto7" | translate }}</p>
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col"></th>
                <th scope="col">{{ "esterilizacion.1er" | translate }} {{ "esterilizacion.año" | translate }}</th>
                <th scope="col">{{ "esterilizacion.2o" | translate }} {{ "esterilizacion.año" | translate }}</th>
                <th scope="col">{{ "esterilizacion.3er" | translate }} {{ "esterilizacion.año" | translate }}</th>
                <th scope="col">{{ "esterilizacion.4o" | translate }} {{ "esterilizacion.año" | translate }}</th>
                <th scope="col">{{ "esterilizacion.5o" | translate }} {{ "esterilizacion.año" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1 {{ "esterilizacion.perra" | translate }}</th>
                <td>8</td>
                <td>40</td>
                <td>200</td>
                <td>1.000</td>
                <td>5.000</td>
              </tr>
              <tr>
                <th scope="row">1 {{ "esterilizacion.gata" | translate }}</th>
                <td>12</td>
                <td>84</td>
                <td>588</td>
                <td>4.116</td>
                <td>28.812</td>
              </tr>
              <tr>
                <th scope="row">Total</th>
                <td>20</td>
                <td>124</td>
                <td>788</td>
                <td>5.116</td>
                <td>33.812</td>
              </tr>
            </tbody>
          </table>

          <p>{{ "esterilizacion.importancia_esterilizacion_texto8" | translate }}</p>
          <p>{{ "esterilizacion.importancia_esterilizacion_texto9" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h5 class="my-3">{{ "esterilizacion.en_que_consiste_esterilizacion" | translate }}</h5>
      <p>{{ "esterilizacion.en_que_consiste_esterilizacion_texto" | translate }}</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h5 class="my-3">{{ "esterilizacion.ventajas_que_aporta" | translate }} <small class="text-muted">({{ "esterilizacion.fuente" | translate }}: www.anaaweb.org)</small></h5>

      <div class="row">
        <div class="col-md-6">
          <p>{{ "esterilizacion.en_hembras" | translate }}:</p>
          <ul>
            <li>{{ "esterilizacion.ventajas_hembras_item1" | translate }}</li>
            <li>{{ "esterilizacion.ventajas_hembras_item2" | translate }}</li>
            <li>{{ "esterilizacion.ventajas_hembras_item3" | translate }}</li>
            <li>{{ "esterilizacion.ventajas_hembras_item4" | translate }}</li>
          </ul>
        </div>
        <div class="col-md-6">
          <p>{{ "esterilizacion.en_machos" | translate }}:</p>
          <ul>
            <li>{{ "esterilizacion.ventajas_machos_item1" | translate }}</li>
            <li>{{ "esterilizacion.ventajas_machos_item2" | translate }}</li>
            <li>{{ "esterilizacion.ventajas_machos_item3" | translate }}</li>
          </ul>
        </div>
      </div>

      <p>{{ "esterilizacion.ventajas_aporta_texto1" | translate }}</p>
      <p>{{ "esterilizacion.ventajas_aporta_texto2" | translate }}</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h5 class="my-3">{{ "esterilizacion.falsos_mitos_esterilizacion" | translate }} <small class="text-muted">({{ "esterilizacion.fuente" | translate }}: www.altarriba.org)</small></h5>
      <div class="row">
        <div class="col-lg-6">
          <ul>
            <li>{{ "esterilizacion.falsos_mitos_esterilizacion_texto1" | translate }} <br>
            {{ "esterilizacion.falsos_mitos_esterilizacion_texto2" | translate }}
            </li>
            <li>{{ "esterilizacion.falsos_mitos_esterilizacion_texto3" | translate }}</li>
            <li>{{ "esterilizacion.falsos_mitos_esterilizacion_texto4" | translate }}</li>
            <li>{{ "esterilizacion.falsos_mitos_esterilizacion_texto5" | translate }}</li>
            <li>{{ "esterilizacion.falsos_mitos_esterilizacion_texto6" | translate }}</li>
            <li>{{ "esterilizacion.falsos_mitos_esterilizacion_texto7" | translate }} <br>
            {{ "esterilizacion.falsos_mitos_esterilizacion_texto8" | translate }}
            </li>
            <li>{{ "esterilizacion.falsos_mitos_esterilizacion_texto9" | translate }} <br>
            {{ "esterilizacion.falsos_mitos_esterilizacion_texto10" | translate }}
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul>
            <li>{{ "esterilizacion.falsos_mitos_esterilizacion_texto11" | translate }}</li>
            <li>{{ "esterilizacion.falsos_mitos_esterilizacion_texto12" | translate }} <br>
            {{ "esterilizacion.falsos_mitos_esterilizacion_texto13" | translate }}</li>
            <li>{{ "esterilizacion.falsos_mitos_esterilizacion_texto14" | translate }}</li>
            <li>{{ "esterilizacion.falsos_mitos_esterilizacion_texto15" | translate }} <br>
            {{ "esterilizacion.falsos_mitos_esterilizacion_texto16" | translate }}</li>
            <li>{{ "esterilizacion.falsos_mitos_esterilizacion_texto17" | translate }} <br>
            {{ "esterilizacion.falsos_mitos_esterilizacion_texto18" | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <p class="text-muted my-3">{{ "esterilizacion.informacion_extraida_de" | translate }} www.altarriba.org {{ "esterilizacion.y" | translate }} www.anaaweb.org</p>
    </div>
  </div>
</div>
