.main-photo {
  background-image: url("assets/img/main-cat.jpg");
}

.btn-facebook {
  background-color: $fbk-color;
  border-color: lighten($fbk-color, 10%);
  &:hover {
    background-color: darken($fbk-color, 10%);
    border-color: $fbk-color;
  }
}

.dark-text-shadow {
  @include text-shadow(0, 0, 5px, #000);
}

html {
  min-height: 100%;
  position: relative;
  body {
    margin-bottom: $height-footer;
  }
  .footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    color: $navbar-dark-color;
    .footer-block {
      margin: 18px 0;
    }
  }
}
