.mtop-20 {
  margin-top: 20px;
}
.mtop-80 {
  margin-top: 80px;
}
.mtop-90 {
  margin-top: 90px;
}

.ptop-50 {
  padding-top: 50px;
}
.ptop-55 {
  padding-top: 55px;
}
.ptop-60 {
  padding-top: 60px;
}
.ptop-65 {
  padding-top: 65px;
}
.ptop-70 {
  padding-top: 70px;
}
.pbottom-60 {
  padding-bottom: 60px;
}

.brad-10 {
  @include border-radius(10);
}
